.theme-default {
  --color-page-background: #aaaaaa ;
  --color-app-background: #888888;
  --color-asm-background: #ffeeee;
  --color-lmc-background: #eeeeff;
  --color-lmc-panel-background: #ffffff;
  --color-input-background: #ffffff;
  --color-panel-background: #eeeeee;
  --color-memory-background: #ffffff;
  --color-memory-title: #ffeeee;
  --color-border: #000000;
  --color-widgets: #eecccc;
  --color-highlight: #ffaaaa;
  --color-highlight2: #aaffaa;
  --color-text: #000000;
  --color-text2: #444444;
  --color-error-text: #ff0000;
  --color-narrative-background: #eeffee;
  --color-bus-background: #ffffcc;
  --color-popup-background: #ffffcc;

  /* sliders */
  --color-slider-on: var(--color-widgets);
  --color-slider-background: #555;

  /* buttons */
  --color-button: var(--color-widgets);
  --color-button-hover: var(--color-highlight);
  --color-button-disabled: var(--color-button);

  /* slider */
  --color-slider: var(--color-widgets);

}

.theme-dark {

}

