<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Little Man Computer</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body class="theme-default">
<div id="app" >
  <div class="screen" :class="{ 'full' : fullscreen===true }">
  <div id="mainframe" class="mainframe" >
    <div class="asmframe">
      <h1 class="titletext" style="line-height: 50px;">Assembly Code</h1>
      <div id="asmeditor" class="asmeditor">
        <div id="asmeditor__lines" class="asmeditor__lines"></div>
        <textarea id="asmeditor__textarea" class="asmeditor__textarea" v-model="code" :disabled="running"></textarea>
      </div>
      <div class="narrativebox" :class="{ 'visible' : running===true }">
        {{narrative}}
      </div>
      <div class="editbox">
        <table class="buttontable">
          <tr>
            <td colspan="2">
              <span class="errortext">&nbsp;{{error}}&nbsp;</span>
            </td>
          </tr>
          <tr>
            <td>
              <button class="button" :disabled="running" v-on:click="loadFromFile()">Load File</button>
            </td>
            <td>
              <button class="button" :disabled="running" v-on:click="saveToFile()">Save File</button>
            </td>
          </tr>
        </table>
        <table class="buttontable">
          <tr>
            <td style="text-align: left;">
              <select class="asmselect" v-model="codeselect" :disabled="running">
                <option value="add">Add two numbers</option>
                <option value="countdown">Count down</option>
                <option value="greater">Largest number</option>
              </select>
            </td>
            <td>
              <button class="button" :disabled="running" v-on:click="loadCode()">Load</button>
            </td>
          </tr>
        </table>
        <table class="buttontable">
          <tr>
            <td>
              <a class="copyright">&copy; Mark Waller</a>
            </td>
            <td>
              <a href="#" class="copyright">More information</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="lmcframe">
      <h1 class="titletext" style="line-height: 50px;">Little Man Computer</h1>
      <button class="fullscreen" v-on:click="toggleFullScreen()">
        <img v-if="fullscreen" src="img/exitfullscreen.png" class="fullscreenimg">
        <img v-else src="img/fullscreen.png" class="fullscreenimg">
      </button>
      <div class="cpuframe">
        <div class="cpubox">
          <h1 class="titletext">CPU</h1>
          <div class="controlunit">
            <h3 class="titletext">Control Unit</h3>
            <table style="margin:auto;">
              <tr>
                <td>
                  <div class="curegister">
                    <span>Opcode</span>
                    <div class="curegistervalue">
                      {{formatInt(opcode, 1)}}
                    </div>
                  </div>
                </td>
                <td>
                  <div class="curegister">
                    <span>Operand</span>
                    <div class="curegistervalue">
                      {{formatInt(operand, 2)}}
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <div class="decodeunit">
              <table class="mnemonictable">
                <tr>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===1 }">ADD
                      <div class="opcode">1xx</div>
                    </div>
                  </td>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===2 }">SUB
                      <div class="opcode">2xx</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===3 }">STA
                      <div class="opcode">3xx</div>
                    </div>
                  </td>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===5 }">LDA
                      <div class="opcode">5xx</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===6 }">BRA
                      <div class="opcode">6xx</div>
                    </div>
                  </td>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===7 }">BRZ
                      <div class="opcode">7xx</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===8 }">BRP
                      <div class="opcode">8xx</div>
                    </div>
                  </td>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===9 && operand === 1 }">INP
                      <div class="opcode">901</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===9 && operand === 2 }">OUT
                      <div class="opcode">902</div>
                    </div>
                  </td>
                  <td>
                    <div class="mnemonic" :class="{ 'current-mnemonic' : opcode===9 && operand === 22 }">OTC
                      <div class="opcode">922</div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="registers">
            <div class="register">
              <span>PC</span>
              <div class="registervalue">
                {{formatInt(pc, 2)}}
              </div>
            </div>
            <div class="register">
              <span>MAR</span>
              <div class="registervalue">
                {{formatInt(mar, 3)}}
              </div>
              <div class="addressbus">Address Bus</div>
            </div>
            <div class="register">
              <span>CIR</span>
              <div class="registervalue">
                {{formatInt(cir, 3)}}
              </div>
            </div>
            <div class="register">
              <span>MDR</span>
              <div class="registervalue">
                {{formatInt(mdr, 3)}}
              </div>
              <div class="databus">Data Bus</div>
            </div>
            <div class="register">
              <span>ACC</span>
              <div class="registervalue">
                {{formatInt(acc, 3)}}
              </div>
            </div>
          </div>
          <div class="alu">
            <h3>ALU</h3>
          </div>
          <div class="fde">
            <div class="pie" style="--n: 3">
              <div :class="{ 'currentphase' : phase === 'fetch'}" class="slice fetch"></div>
              <div :class="{ 'currentphase' : phase === 'decode'}" class="slice decode"></div>
              <div :class="{ 'currentphase' : phase === 'execute'}" class="slice execute"></div>
            </div>
          </div>
        </div>
        <div class="inputbox" :class="{ 'waitingforinput' : waitingforinput===true }">
          <a>Input</a>
          <textarea class="ioarea" v-model="input" ref="lmcinput" @keydown.enter="inputEnter"
                    :disabled="!waitingforinput"></textarea>
        </div>
        <div class="outputbox">
          <a>Output</a>
          <textarea class="ioarea" v-model="output" ref="lmcoutput" readonly disabled></textarea>
        </div>
      </div>
      <div class="ramframe">
        <div class="rambox">
          <h1 class="titletext">RAM</h1>
          <div class="ram-asmeditor">
            <div v-for="(value, index) in ramarray" class="ram-address"><a>{{formatInt(index, 2)}}</a>
              <div class="ram-value"><a>{{formatInt(value, 3)}}</a></div>
            </div>
          </div>
        </div>
        <div class="controlbox">
          <table class="buttontable">
            <tr>
              <td>
                <button class="button" v-on:click="startauto()">Run</button>
              </td>
              <td>
                <button v-if="running" class="button" v-on:click="stop()">Stop</button>
                <button v-else class="button" v-on:click="stop()">Reset</button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="button" v-on:click="doStep()">One Step</button>
              </td>
              <td>
                <button class="button" v-on:click="doCycle()">One Cycle</button>
              </td>
            </tr>
          </table>
          <div>
            <input type="range" id="speed" name="speed" min="0" max="100" v-model="speed" class="clockslider"/>
            <label class="clockslider" for="speed">Speed</label>
          </div>
        </div>
      </div>
    </div>
    <div v-if="display_warning" class="construction">
      <H1>Under construction!</H1>
      <p>LittleManComputer.co.uk is not complete and their may still be bugs.</p>
      <p>But - you are welcome to try the current version.</p>
      <p>If you need a working simulation right now please check out these great ones.</p>
      <ul style="text-align: left;">
        <li><a href="https://peterhigginson.co.uk/lmc/">peterhigginson.co.uk/lmc/</a></li>
        <li><a href="https://www.101computing.net/LMC/">www.101computing.net/LMC/</a></li>
      </ul>
      <button v-on:click="display_warning=false;" class="button">I understand - Let me in anyway</button>
      &nbsp;
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="js/texteditor.js?t=123456"></script>
<script type="text/javascript" src="js/app.js?t=123456"></script>

</body>

</html>
